p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: roboto;
}
.subscribed-button {
  background-color: #cc0000;
  margin-left: 20px;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
}
.subscribed-button:hover {
  opacity: 0.6;
}
.subscribed-button:active {
  opacity: 0.35;
}
.join-btn {
  background-color: white;
  border: 2px solid #065fd4;
  padding: 9px;
  color: rgb(41, 118, 211);
  border-radius: 1px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s;
  vertical-align: top;
}
.join-btn:hover {
  background-color: rgb(41, 118, 211);
  color: white;
}
.join-btn:active {
  opacity: 0.7;
}
.tweet-btn {
  background-color: #1d9bf0;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 18px;
  cursor: pointer;
  color: white;
  transition: box-shadow 0.15s;
  vertical-align: top;
}
.tweet-btn:hover {
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.15);
}
.logo-image {
  position: fixed;
  margin-right: 10px;
}
img {
  height: 50px;
  width: 50px;
}
.like-btn{
  padding: 10px;
  background-color:olivedrab;
  color: white;
  vertical-align: top;
  transition: padding 0.3s;
  border: none;
  border-radius: 5px
}
.like-btn:hover{
  padding: 15px;
  cursor: pointer;

}
.video-title{
  font-family: roboto;
  font-size: 20px;
  font-weight: bold;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
  
}

.video-stats{
 font-family: Arial;
 font-size: 12px;
 font:rgb(96,96,96);
 margin-top: 5px;
 margin-bottom: 10px;
 

}
.video-Author{
font-family: Arial;
font-size: 13px;
margin-bottom: 10px

}
.video-desc{
  width:280px;
  color: rgb(96,96,96);
  font-size: 14px;
  margin-bottom: 50px;
 
}
.apple-text{
  background-color: #c00;
  padding: 20px 30px;
  display: inline;
  font-family: Arial;
  font-size: 15px;
  color:white;
  text-align: center;
  font-weight: 500;
 
}
.apple-link{
  text-decoration: none;
}
.apple-link:hover{
  text-decoration: underline;
  cursor: pointer;
}
//box model
/* padding 
margin *